/* ===== Fonts ===== */

@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ===== End Fonts ===== */

/* ====== Basics ======*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	min-width: 1280px;
	min-height: 100%;
	display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ====== End Basics ======*/

/* ====== Components ======*/

.button {
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	padding: 16px 36px;
	transition: .2s ease-in;
}

.button-primary {
	color: #fff;
	background-color: #3596F5;
}

.button-primary:hover {
	background-color: #66B2FC;
}


/* ====== End Components ======*/

/* ====== .header ======*/

.header {
	background-color: #635854;
	padding: 12px 0;
	border-bottom: 4px solid #3596F5;
}

.navbar {
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-nav {

	width: 60%;
}

.navbar-menu {
	padding: 0;
	margin: -15px 0;
	list-style: none;
	display: flex;
	text-align: center;
	height: 68px;
	
}

.navbar-item {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
}

.navbar-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 16px;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

.navbar-item .navbar-link:hover{
	background-color: #3596F5;
}

.navbar-contacts {
	text-align: right;
}

.navbar-text {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
}

.navbar-phone {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
}

/* ====== /.header ======*/

/* ====== .main ======*/

.main {
	padding: 54px 0;
}

.main-content {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
}

.main-info {
	flex-grow: 1;
	text-align: center;
	/* margin-top: 60px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.main-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 37px;
	line-height: 37px;
	color: #635854;
	margin: 0;
}

/* ====== /.main ======*/


/* ====== .home ======*/

.home-image path {
	opacity: 0;
	cursor: pointer;
}

/* ====== /.home ======*/

/* ====== .counter ======*/

.counter-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: 100px 0; */
}

.counter-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.counter-arrow-down {
	transform: rotate(180deg);
}

.counter {
	font-family: "Bebas Neue", sans-serif;
	font-size: 113px;
	color: #635854;
	margin: 20px 0;
}

path.current-floor {
	opacity: 1;
}

/* ====== /.counter ======*/

/* ====== .footer ======*/
.footer {
	padding: 50px 0;
	background-color: #D7D7D7;
}

.footer a:visited {
	color: #635854;
}

.footer a:hover {
	color: #3596F5;
}

.footer a:hover .social-icon {
	fill: #3596F5;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
}

.footer-links	{
	display: flex;
	align-items: center;
	color: #635854;
}

.footer-contacts {
	margin-left: 37px;
	text-align: left;
	color: #635854;
}

.footer-text,
.footer-phone {
	color: #635854;
}

.footer-social {
	margin-left: 60px;
}

.footer-social-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.footer-social-item:not(:last-child) {
	margin-right: 15px;
}

.footer-social-link {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
}

.social-icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	
}

.social-icon {
	fill: #635854;
}

.footer-info {
	display: flex;
	align-items: center;
}

.footer-info-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.footer-info-item:not(:last-child) {
	margin-right: 20px;
}

.footer-info-link {
	stroke: #635854;
}

/* ====== /.footer ======*/

/* ====== .modal ======*/

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity .2s;
}

.is-open {
	opacity: 1;
	transform: scale(1);
}

.modal-dialog {
	position: relative;
	max-width: 1000px;
	min-height: 565px;
	background-color: #fff;
	flex-grow: 1;
	display: flex;
}

.modal-image {
	width: 60%;
	background-color: #EBEBEB;
	text-align: center;
	padding: 50px;
}

.modal-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 30px;
}

.modal-info {
	width: 40%;
	padding: 50px 46px;
}

.modal-alert {
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.modal-close-button {
	position: absolute;
	top: 37px;
	right: 28px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.flat-list {
	padding: 0;
	list-style: none;
	margin: 55px 0;
}

.flat-item:not(:last-child) {
	margin-bottom: 10px;
}

.flat-link {
	font-size: 16px;
	line-height: 19px;
	color: #635854;
	text-decoration: none;
}

.flat-link-active,
.flat-link:hover {
	text-decoration: underline;
	color: #3596F5;
}


.flats path{
	cursor: pointer;
	opacity: 0;
}

.flats path:hover {
	opacity: 1;
}

.flats path.active {
	opacity: 1;
}
/* ====== /.modal ======*/